.menu__items {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.menu button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #f4ce14;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu button:hover {
    background-color: darkgoldenrod;
}