.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4ce14;

}

.testimonial__cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}