.menu__items {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.menu__header button {
    border-radius: 10px;
    min-height: 30px;
    background-color: #f4ce14;
}